/home/nyctltlc/public_html/nyctos-gig-grid/cache/cron_sync.log {
    daily
    rotate 14
    dateext
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
    create 0644 nyctltlc nyctltlc
}